@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=STIX+Two+Text&display=swap");

* {
  font-family: "STIX Two Text", serif;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
